PROJECT_NAME=5_semestre_backend
PROJECT_DESCRIPTION=Backend e API GATEWAY para o projeto 5_semestre_backend
PROJECT_VERSION=1.0.0

ENVIRONMENT=development

# CORS settings
CORS_ALLOW_ORIGINS=https://app.example.com,http://localhost:3000
CORS_ALLOW_CREDENTIALS=False
CORS_ALLOW_METHODS=GET,POST,PUT,PATCH,DELETE
CORS_ALLOW_HEADERS=Authorization,Content-Type

# Configuração do Banco de Dados para Docker Compose
POSTGRES_USER=5_semestre_user
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=5_semestre_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Chave secreta para JWT (gere uma chave segura)
# Exemplo: openssl rand -hex 32
JWT_SECRET_KEY=sua_chave_secreta_aqui
ACCESS_TOKEN_SIGNING_KEY=your_access_token_siging_key
REFRESH_TOKEN_SIGNING_KEY=your_refresh_token_siging_key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
SESSION_EXPIRE_DAYS=180

DEFAULT_ROLE_NAME=user

GOOGLE_MAPS_API_KEY=chave-de-api-google
